.contact-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.contact-page h1{
font-size: 50px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
}

.form-group textarea {
  resize: vertical;
}

button.conatctUs-btn{
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

button.conatctUs-btn:hover {
  background-color: #0056b3;
}

.thank-you-message {
  text-align: center;
}  
